*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear


hs_err_pid*
syntax: glob
.settings/**
.idea/**
output/**
out/**

target/
target/**
.project
.classpath
.settings/
.settings/**
*.bz2
